h1, h2 {
    font-family: Comic Sans MS;
}

p {
    font-family: Comic Sans MS;
}

.img-btn:hover {
    transition: .1s;
    transform: scale(1.25);
}

.img-play-btn:hover {
    transition: .1s;
    transform: scale(1.25);
}

button {
    font-family: Comic Sans MS;
}

strong {
    font-family: Comic Sans MS;
}